body
{
	background-image: url('G:/Projects/flat/src/components/society.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}
.fit-card{
    width: 50rem;
    background-color: lightcyan;
    font-weight: 700;
    font-size:1.2rem;
}
